/* 基础设置 */

.container {
    width: 1190px;
    margin: 0 auto;
}

/* 顶部导航条strt */
.topbar {
    height: 30px;
    background-color: #ECECEC ;
}
.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0px;
    color: #666;
}
.welcome span,.welcome a {
    font-size: 12px;
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register {
    padding-left: 10px;
}
/* 顶部导航条end */
