/* 基础设置 */

.container {
    width: 1190px;
    margin: 0 auto;
}

/* #region 顶部导航条strt */
.topbar {
    height: 30px;
    background-color: #ECECEC ;
}
.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0px;
    color: #666;
}
.welcome span,.welcome a {
    font-size: 12px;
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register {
    padding-left: 10px;
}

.topbar-nav .list li {
    float: left;
    
    color: #666;
}
.topbar-nav .list li a{
    font-size: 12px;
    padding: 0px 15px;
    border-left: 1px solid #666;
}
.topbar-nav .list li .start{
    padding-left: 0px;
    border-left: none;
}
.topbar-nav .list li .end{
    padding-right: 0px;

}
.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}
/* #endregion 顶部导航条end */

/* 头部部分start */







/* 头部部分end */